# Fallback dirs
cstrike/
valve/

# Binary files
*.apk
*.ipa
*.exe
*.dll
*.so*
xash_sdl
*.lib*
*.a*

# User-config files
config.cfg
opengl.cfg
video.cfg
keyboard.cfg
touch.cfg
gamesettings.cfg
.xash_id
maps.lst
userconfig.d/

# Temp files
tempdecal.wad

# Backup files
*.bak